{% extends 'base.html.twig' %}

{% block title %}Nouvelle saison{% endblock %}

{% block admin_nav %}{{ include('back/_nav.html.twig', {'nav_active': 'season_new'}) }}{% endblock %}

{% block body %}
    <h1>Créer une nouvelle saison</h1>

    {{ include('back/season/_form.html.twig') }}

    <a  class="btn btn-primary" href="{{ path('back_season_index') }}">Revenir à la liste</a>
{% endblock %}
