{% extends 'back/base_back.html.twig' %}

{% block title %}Créer un nouveau Casting{% endblock %}
{#
    {% block admin_nav %}{{ include('back/_nav.html.twig', {'nav_active': 'casting_new'}) }}{% endblock %}
#}
{% block body %}
    <h1>Créer un nouveau Casting</h1>
    <h2>{{ movie.title }}</h2>
    {{ include('back/casting/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('back_movie_index', {id: movie.id}) }}">Revenir à la liste</a>
{% endblock %}
