{% extends 'base.html.twig' %}

{% block title %}Nouveau Film{% endblock %}

{% block admin_nav %}{{ include('back/_nav.html.twig', {'nav_active': 'movie_new'}) }}{% endblock %}

{% block body %}
<div class="container">
    <h1>Nouveau Film</h1>
    <a class="btn btn-primary" href="{{ path('back_movie_index') }}">Revenir à la page d'accueil</a>
    {{ include('back/movie/_form.html.twig', {'button_label': 'Créer'}) }}
</div>
{% endblock %}
