{% extends "base.html.twig" %}

{% block body %}
<h1>Poster votre avis</h1>
<h2>{{ movie.title }}</h2>
<div class="container">
{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-success">Enregistrer</button>
    <br /><br /><br />

{{ form_end(form) }}
</div>
{% endblock %}